name: TypeScript

on:
  push:
  pull_request:

jobs:
  tsc:
    name: "TSC"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "npm"
      - run: npm install
      - run: npx tsc --noEmit
